.search-container {
    max-width: 800px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-box {
    width: 100%;
}

.search-form {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    background: #2f2f2f;
    border: 2px solid #2f2f2f;
    border-radius: 25px;
    padding: 5px 10px;
    width: 100%;
    min-width: 500px;
}

.search-input {
    flex: 1;
    min-width: 0;
    padding: 8px 10px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    background: transparent;
    color: #ececec;
}

.search-input:focus {
    outline: none;
}

.button-group {
    display: flex;
    gap: 6px;
    margin-left: 10px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #7737c4;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-btn:hover {
    background: #8d5ec4;
}
